<footer>
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell small-5">
                <h5>Contact Info</h5>
                <hr />
                <a href="#"><span>Email:</span> s.littlefair@sheffield.ac.uk</a>
                <a href="#"><span>Address:</span> University of Sheffield, UK</a>
            </div>
            <div class="cell small-5">
                <h5>Re-Use</h5>
                <hr />
                <p>These notes are made available under a creative commons license.</p>
                <a href="https://github.com/StuartLittlefair/phy217_website/blob/main/{{page.inputPath}}"><i
                        class="fi-social-github"></i> Edit
                    this Page on GitHub</a></p>
            </div>
        </div>
    </div>
</footer>